@media (max-width:599px){
    .container{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 200px 900px 200px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd sd sd sd sd sd sd sd"
        "main main main main main main main main"
        "ft ft ft ft ft ft ft ft";
        border: 2px solid yellow;
        font-size: 0.6em;
    }

    .box{
        width: 100%;
        border: 1px solid red;
        background: #F8FA9D;
    }

    .nav{
        grid-area:hd;
    }

    .sidebar{
        grid-area: sd;  
    }

    .content {
        grid-area: main;
        display: grid;
        grid-template-rows: 50% 50%;
    }

    .sidebar2{
        display: none;  
      }

    .footer{
        grid-area: ft;  
    }
   }

/* Medium Screens */
  @media (min-width: 600px) and (max-width:900px) {
    .container{
        display:grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 100px 600px 100px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd sd main main main main main sd2"
        "ft ft ft ft ft ft ft ft";
        border: 2px solid yellow;
        font-size: 0.7em;
    }

    .box{
        width: 100%;
        border: 1px solid red;
        background: #F8FA9D;
      }
    
      .nav{
        grid-area:hd;
        display: grid;
        grid-template-columns: 30% 10% 10% 10% 10% 10% 10%;
      }
    
      .sidebar{
        grid-area: sd;  
      }
    
      .content {
        grid-area: main;
        display: grid;
        grid-template-columns: 50% 50%;
      }

      .sidebar2{
        grid-area: sd2;  
      }
      .footer{
        grid-area: ft;  
        display: grid;
        grid-template-columns: 30% 10% 10% 10% 10% 10% 10%;
      }
  }
  
  /* Large Screens */
  @media (min-width:901px) {
    .container{
        display:grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 100px 900px 100px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd main main main main main main sd2"
        "ft ft ft ft ft ft ft ft";
        border: 2px solid yellow;
        font-size: 1em;
    }

    .box{
        width: 100%;
        border: 1px solid red;
        background: #F8FA9D;
      }
    
      .nav{
        grid-area:hd;
        display: grid;
        grid-template-columns: 30% 10% 10% 10% 10% 10% 10%;
      }
    
      .sidebar{
        grid-area: sd;  
      }
    
      .content {
        grid-area: main;
        display: grid;
        grid-template-columns: 50% 50%;
      }

      .sidebar2{
        grid-area: sd2;  
      }

      .footer{
        grid-area: ft;  
        display: grid;
        grid-template-columns: 30% 10% 10% 10% 10% 10% 10%;
      }
  }